@import "@/styles/variables";

.loginCard {
    width: 100%;
    min-height: 500px;
}

.loginCard__google {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem 0.75rem;
    font-size: 1.25rem;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 10px;
    outline: none;
}

.loginCard__google__logo {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    font-size: 1.5rem;
}

.loginCard__divider {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    font-size: 1.25rem;
    font-weight: 500;
}

.loginCard__input {
    margin: 1rem auto;
}

.loginCard__password-reset {
    cursor: pointer;

    &:hover {
        color: $primary;
        text-decoration: underline 1px $primary;
    }
}

.loginCard__password-setting {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1.5rem auto;
}

.loginCard__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1.5rem auto;
}

.loginCard__footer__goToSignup {
    margin-left: 0.5rem;
    cursor: pointer;

    &:hover {
        color: $primary;
        text-decoration: underline 1px $primary;
    }
}

.test {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
