@import "@/styles/variables";

.training {
    display: flex;
    flex-direction: column;
    width: min(200px, 90%);
    height: 200px;
    padding: 1rem;
    cursor: pointer;
    border: 1px solid $gray-300;
    border-radius: 10px;

    &:hover {
        border: 1px solid $success;
        transition: border 0.3s;
    }
}

.title {
    flex: 1;
    height: 3rem;
}

.selected {
    border: 1px solid $success;
}
