@import "@/styles/variables.scss";

.signupCard {
    width: 100%;
    min-height: 500px;
}

.signupCard__google {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    outline: none;
    border: 1px solid gray;
    padding: 1rem 0.75rem;
    width: 100%;
    font-size: 1.25rem;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        border-color: $primary;
    }
}

.signupCard__google__logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.signupCard__divider {
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 1rem auto;
}

.signupCard__input {
    margin: 1rem auto;
}

.signupCard__password-reset {
    cursor: pointer;
    &:hover {
        color: $primary;
        transition: all 0.3s ease-in;
    }
}
.signupCard__password-setting {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem auto;
}

.signupCard__footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem auto;
}
.signupCard__footer__backLogin {
    margin-left: 0.5rem;
    cursor: pointer;
    &:hover {
        color: $primary;
        text-decoration: underline 1px $primary;
    }
}

.test {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}
