@import '@/styles/variables.scss';

.calendarHeader {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
    height: $header-height;
}

.calendarHeader__title {
    margin: 0 0.5rem;
    font-size: 1.25rem;
    color: $gray-500;
    margin: 0 1rem;
}

.calendarHeader__today {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0.5rem;
    background-color: transparent;
    border: 1px solid $gray-300;
    border-radius: 5px;
    font-size: 1.125rem;
    cursor: pointer;
    &:hover {
        background-color: $gray-100;
        transition: all 0.3s;
    }
}

.calendarHeader__arrow {
    margin: 0 2rem;
    display: flex;
}

.calendarHeader__arrow__cursor {
    font-size: 1.25rem;
    color: $gray-700;
    margin: 0 0.5rem;
    cursor: pointer;
}

.calendarHeader__logout {
    position: absolute;
    right: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0.5rem;
    background-color: transparent;
    border: 1px solid $gray-300;
    border-radius: 5px;
    font-size: 1.125rem;
    cursor: pointer;
    &:hover {
        background-color: $gray-100;
        transition: all 0.3s;
    }
}
