@import "@/styles/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.calendarHeader {
    position: relative;
    display: flex;
    align-items: center;
    height: $header-height;
    padding: 0.5rem;

    @include media-breakpoint-up(md) {
        padding: 0.5rem 2rem;
    }
}

.calendarHeader__title {
    display: none;

    @include media-breakpoint-up(md) {
        display: block;
        margin: 0 0.5rem;
        margin: 0 1rem;
        font-size: 1.25rem;
        color: $gray-500;
    }
}

.calendarHeader__today {
    padding: 0.5rem 1rem;
    font-size: 1.125rem;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid $gray-300;
    border-radius: 5px;

    &:hover {
        background-color: $gray-100;
        transition: all 0.3s;
    }

    @include media-breakpoint-up(md) {
        margin: 0.5rem;
    }
}

.calendarHeader__arrow {
    display: flex;
    margin: 0 0.5rem;

    @include media-breakpoint-up(md) {
        margin: 0 2rem;
    }
}

.calendarHeader__arrow__cursor {
    margin: 0 0.5rem;
    font-size: 1.25rem;
    color: $gray-700;
    cursor: pointer;
}

.calendarHeader__logout {
    position: absolute;
    right: 1rem;
    margin: 0.5rem;
    font-size: 2rem;
    cursor: pointer;
    background-color: transparent;

    &:hover {
        background-color: $gray-100;
        transition: all 0.3s;
    }

    @include media-breakpoint-up(xl) {
        right: 2rem;
    }
}
