@import '~bootstrap/dist/css/bootstrap.css';

.container__storybook {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(25, 184, 233);
}
