@import './variables.scss';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.dashboard {
    width: 100%;
    min-height: 100vh;
}

.body {
    display: flex;
}

.sidebar {
    width: 100%;
    @include media-breakpoint-up(md) {
        width: $sidebar-width;
    }
}

.calendar {
    display: none;
    @include media-breakpoint-up(md) {
        display: block;
        flex: 1;
    }
}
