@import "@/styles/variables.scss";

.button {
    display: inline-block;
    width: 100%;
    line-height: 1;
    color: #fff;
    cursor: pointer;
    background-color: $primary;
    border: none;
    border-radius: 6px;
    transition: all 0.1s;

    &:hover {
        filter: brightness(110%) !important;
    }
}

.button--sm {
    padding: 12px 16px;
    font-size: 12px;
}

.button--md {
    padding: 16px 20px;
    font-size: 14px;
}

.button--lg {
    padding: 1.25rem 24px;
    font-size: 16px;
}

.button--float {
    &:hover {
        box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
        transform: translate3d((0, -2px, 0));
    }
}

.button--block {
    width: auto;
}
