@import "@/styles/variables";

.select {
    position: relative;
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid $gray-300;
    border-radius: 5px;
}

.selected {
    color: #000;
}

.placeholder {
    color: $gray-500;
}

.options {
    position: absolute;
    max-height: 30rem;
    overflow-y: scroll;
    background-color: #fff;
    border: 1px solid $gray-300;
    border-radius: 5px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.options::-webkit-scrollbar {
    display: none;
}

.optionsItem {
    padding: 0.125rem 0.5rem;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
        background-color: $gray-100;
        transition: all 0.2s ease;
    }
}
