@import "@/styles/variables";

.alert {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 0.5rem;
    color: #fff;
    border-radius: 5px;
}

.alert__message {
    font-weight: 500;
}

.alert--error {
    background-color: $error;
}

.alert--success {
    background-color: $success;
}

.alert--warning {
    background-color: $warning;
}

.alert__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin: auto;
    font-size: 1.125rem;
    color: #fff;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}

.alert__icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1rem;
    display: flex;
    align-items: center;
    height: 50%;
    margin: auto;
    font-size: 1.75rem;
}
