@import '@/styles/variables.scss';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.modal {
    position: relative;
    width: min(700px, 95%);
    margin: auto;
    padding: 1.5rem 1.5rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid $gray-100;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    @include media-breakpoint-up(xl) {
        padding: 3rem 10rem;
    }
}

.modal__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    width: 2rem;
    height: 2rem;
    background-color: $gray-400;
    color: #fff;
    border-radius: 50%;
    font-size: 1.25rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.modal__close__btn {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}
