.createLog {
    width: 100%;
    height: 100%;
}

.header {
    width: 90%;
    font-size: 2rem;
    font-weight: 700;
}

.trainingList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    max-height: 12.5rem;
    margin: 1rem auto;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.trainingList::-webkit-scrollbar {
    display: none;
}

.select {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48%;
    margin: 0 0.25rem;
}

.tag {
    display: flex;
}

.tagItem {
    margin: 0.5rem;
}

.submit {
    width: 30%;
    margin: 1rem 0;
}

.date {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-left: 2rem;
    font-weight: 700;
}
