.createLog {
  width: 100%;
  height: 100%;
}

.header {
  font-size: 2rem;
  font-weight: 700;
}

.select {
  width: 100%;
  margin: 1rem 0;
}

.tag {
  display: flex;
}

.tagItem {
  margin: 0.5rem;
}
