@import '@/styles/variables.scss';

.tralog-header {
    position: fixed;
    top: 0;
    left: 0;
    height: $header-height;
    background-color: transparent;
    width: 100%;
}

.tralog-header__title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    font-size: 2rem;
    font-weight: bold;
}

.tralog-header__login {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: transparent;
    border: none;
    outline: none;
}
