@import '@/styles/variables.scss';

.fullCalendar {
  width: 100%;
  min-height: calc(100vh - $header-height);
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-template-rows: repeat(5, minmax(0, 1fr));
  cursor: pointer;
}

.day {
  display: flex;
  justify-content: center;
  border: 1px solid $gray-300;
}

.day__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day__weekday {
  margin: 0.25rem 0 0 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.day__date {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.25rem;
  font-size: 0.875rem;
  margin: 0 0.25rem;
}

.selected {
  background-color: rgb(59 130 246);
  color: white;
  border-radius: 50%;
  width: 1.75rem;
  height: 1.75rem;
}

.day__lastMonth {
  color: $gray-700;
}
